In [1]:
import pandas as pd

import requests

from bs4 import BeautifulSoup

In [8]:
req = requests.get("https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=935851093")

soup = BeautifulSoup(req.content,'lxml')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))


neighborhood=pd.DataFrame(df[0])

In [19]:
df1=neighborhood.dropna(subset = ["Borough"])
df1.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [21]:
df1 = df1.groupby('Postcode').agg({'Neighbourhood':'first', 
                             'Neighbourhood': ', '.join , 'Borough':'first'
                              }).reset_index()
df1.head()

  Postcode                           Neighbourhood       Borough
0      M1A                            Not assigned  Not assigned
1      M1B                          Rouge, Malvern   Scarborough
2      M1C  Highland Creek, Rouge Hill, Port Union   Scarborough
3      M1E       Guildwood, Morningside, West Hill   Scarborough
4      M1G                                  Woburn   Scarborough

In [26]:
df1.Borough.fillna(df1.Neighbourhood,inplace=True)
df1.head()

  Postcode                           Neighbourhood       Borough
0      M1A                            Not assigned  Not assigned
1      M1B                          Rouge, Malvern   Scarborough
2      M1C  Highland Creek, Rouge Hill, Port Union   Scarborough
3      M1E       Guildwood, Morningside, West Hill   Scarborough
4      M1G                                  Woburn   Scarborough

In [28]:
df1.count()

Postcode         180
Neighbourhood    180
Borough          180
dtype: int64

assumptions made-1) neighbourhoods having the same postcode were merged
2) neigbourhoods not having a assigned name were given the same name as that in borough column

In [31]:
df = pd.read_csv('http://cocl.us/Geospatial_data')
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [38]:
dfinal = df.merge(df1, how='inner', left_on='Postal Code', right_on='Postcode')
dfinal.head(10)

,Postal Code,Latitude,Longitude,Postcode,Neighbourhood,Borough
0,M1B,43.806686,-79.194353,M1B,"Rouge, Malvern",Scarborough
1,M1C,43.784535,-79.160497,M1C,"Highland Creek, Rouge Hill, Port Union",Scarborough
2,M1E,43.763573,-79.188711,M1E,"Guildwood, Morningside, West Hill",Scarborough
3,M1G,43.770992,-79.216917,M1G,Woburn,Scarborough
4,M1H,43.773136,-79.239476,M1H,Cedarbrae,Scarborough
5,M1J,43.744734,-79.239476,M1J,Scarborough Village,Scarborough
6,M1K,43.727929,-79.262029,M1K,"East Birchmount Park, Ionview, Kennedy Park",Scarborough
7,M1L,43.711112,-79.284577,M1L,"Clairlea, Golden Mile, Oakridge",Scarborough
8,M1M,43.716316,-79.239476,M1M,"Cliffcrest, Cliffside, Scarborough Village West",Scarborough
9,M1N,43.692657,-79.264848,M1N,"Birch Cliff, Cliffside West",Scarborough