In [1]:
import pandas as pd

import requests

from bs4 import BeautifulSoup

In [8]:
req = requests.get("https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=935851093")

soup = BeautifulSoup(req.content,'lxml')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))


neighborhood=pd.DataFrame(df[0])

In [19]:
df1=neighborhood.dropna(subset = ["Borough"])
df1.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [21]:
df1 = df1.groupby('Postcode').agg({'Neighbourhood':'first', 
                             'Neighbourhood': ', '.join , 'Borough':'first'
                              }).reset_index()
df1.head()

  Postcode                           Neighbourhood       Borough
0      M1A                            Not assigned  Not assigned
1      M1B                          Rouge, Malvern   Scarborough
2      M1C  Highland Creek, Rouge Hill, Port Union   Scarborough
3      M1E       Guildwood, Morningside, West Hill   Scarborough
4      M1G                                  Woburn   Scarborough

In [26]:
df1.Borough.fillna(df1.Neighbourhood,inplace=True)
df1.head()

  Postcode                           Neighbourhood       Borough
0      M1A                            Not assigned  Not assigned
1      M1B                          Rouge, Malvern   Scarborough
2      M1C  Highland Creek, Rouge Hill, Port Union   Scarborough
3      M1E       Guildwood, Morningside, West Hill   Scarborough
4      M1G                                  Woburn   Scarborough

In [28]:
df1.count()

Postcode         180
Neighbourhood    180
Borough          180
dtype: int64